project1/dataset/enron_mail_20150507.tar.gz filter=lfs diff=lfs merge=lfs -text
project3/data/training.dat filter=lfs diff=lfs merge=lfs -text
project3/data/testing.dat filter=lfs diff=lfs merge=lfs -text
